<section class="alert alert-info" *ngIf="!country;else countrysection">
    Please wait...
</section>


<ng-template #countrysection>
    <section class="row">
        <div class="col-12">
            <h1>Country: {{ country.name.common }}</h1>
        </div>
    </section>
    <section class="row">
        <div class="col-4">
            <h3>Flag</h3>
            <img [src]="country.flags.png" class="img-thumbnail" />
        </div>

        <div id="country-info" class="col">
            <ul class="list-group">
                <li list-group-item>
                    <strong> Population: {{ country.population | number}}</strong>
                </li>
            </ul>
        </div>
    </section>

</ng-template>

<pre>{{ country| json }}</pre>